


header,
footer,
nav,
aside,
section,
article {
    background-color: rgb(148, 148, 148);
    border-radius: .4rem;
    padding: 1rem 0;
    text-align: center;
    margin: .2rem;
}

main {
    display: flex;
    justify-content: space-between;

}

section {
    flex: 3;
}

nav,
aside {
    flex: 1;
}

section :is(header, article, footer) {
    background-color: white;
}